In [44]:
import pandas as pd
from sqlalchemy import create_engine

In [45]:
# WARD DIMENSION
WardDimension = pd.read_csv(
    "WardNameNumbers.csv", encoding="ISO-8859-1", low_memory=False
)

In [46]:
print(WardDimension[:20])

    Ward Number                 Ward Name
0             1           Etobicoke North
1             2          Etobicoke Centre
2             3       Etobicoke-Lakeshore
3             4        Parkdale-High Park
4             5         York South-Weston
5             6               York Centre
6             7  Humber River-Black Creek
7             8         Eglinton-Lawrence
8             9                 Davenport
9            10         Spadina-Fort York
10           11       University-Rosedale
11           12        Toronto-St. Pauls
12           13            Toronto Centre
13           14          Toronto-Danforth
14           15           Don Valley West
15           16           Don Valley East
16           17          Don Valley North
17           18                Willowdale
18           19         Beaches-East York
19           20     Scarborough Southwest

In [47]:
# rename columns
WardDimension.rename(columns={"Ward Number": "Ward_ID"}, inplace=True)
WardDimension.rename(columns={"Ward Name": "Ward_Name"}, inplace=True)

# change data types
WardDimension["Ward_ID"] = WardDimension["Ward_ID"].astype(int)
WardDimension["Ward_Name"] = WardDimension["Ward_Name"].astype(str)

# output final ward dimension
# WardDimension.to_csv('WardDimension.csv', encoding='ISO-8859-1', index=False)
new_row = pd.DataFrame({'Ward_ID': [0], 'Ward_Name': ['Toronto']})


WardDimension = pd.concat([new_row, WardDimension], ignore_index=True)
print(WardDimension[:20])

    Ward_ID                 Ward_Name
0         0                   Toronto
1         1           Etobicoke North
2         2          Etobicoke Centre
3         3       Etobicoke-Lakeshore
4         4        Parkdale-High Park
5         5         York South-Weston
6         6               York Centre
7         7  Humber River-Black Creek
8         8         Eglinton-Lawrence
9         9                 Davenport
10       10         Spadina-Fort York
11       11       University-Rosedale
12       12        Toronto-St. Pauls
13       13            Toronto Centre
14       14          Toronto-Danforth
15       15           Don Valley West
16       16           Don Valley East
17       17          Don Valley North
18       18                Willowdale
19       19         Beaches-East York

In [48]:
# EDUCATION DIMENSION
education_data2016 = pd.read_csv(
    "WardProfile2016.csv",
    skiprows=range(833),
    nrows=16,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)
education_data2021 = pd.read_csv(
    "WardProfile2021.csv",
    skiprows=range(978),
    nrows=17,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)

# rename 'Education' column to 'Education_Level' before melting
education_data2016.rename(columns={"Education": "Education_Level"}, inplace=True)
education_data2021.rename(columns={"Education": "Education_Level"}, inplace=True)

# filter out rows where 'Education_Level' column is not empty
education_data2016 = education_data2016[education_data2016["Education_Level"].notna()]
education_data2021 = education_data2021[education_data2021["Education_Level"].notna()]

# remove all spaces in education_level column
education_data2016["Education_Level"] = education_data2016[
    "Education_Level"
].str.strip()
education_data2021["Education_Level"] = education_data2021[
    "Education_Level"
].str.strip()

# Melt the DataFrame to get 'Ward_ID', 'Education_Level', and 'Population' columns
education_data2016 = pd.melt(
    education_data2016,
    id_vars=["Education_Level"],
    var_name="Ward_ID",
    value_name="Population",
)
education_data2016["Year"] = 2016
education_data2021 = pd.melt(
    education_data2021,
    id_vars=["Education_Level"],
    var_name="Ward_ID",
    value_name="Population",
)
education_data2021["Year"] = 2021

# merge the datasets
EducationDimension = pd.concat(
    [education_data2016, education_data2021], ignore_index=True
)

# change data types
EducationDimension["Population"] = EducationDimension["Population"].astype(int)
EducationDimension["Education_Level"] = EducationDimension["Education_Level"].astype(
    str
)

# output final education dimension
# EducationDimension.to_csv('EducationDimension.csv', encoding='ISO-8859-1', index=False)

In [49]:
# Generate surrogate keys
EducationDimension['Education_Key'] = range(1, len(EducationDimension) + 1)

cols = ['Education_Key'] + [col for col in EducationDimension.columns if col != 'Education_Key']

# Reorder the DataFrame 
EducationDimension = EducationDimension[cols]

# add "ED" prefix to every surrogate key in the 'Education_Key' column
EducationDimension['Education_Key'] = 'ED' + EducationDimension['Education_Key'].astype(str)

In [50]:
print(EducationDimension[:20])

   Education_Key                                    Education_Level  Ward_ID  \
0            ED1  Total - Highest certificate, diploma or degree...  Toronto
1            ED2                  No certificate, diploma or degree  Toronto
2            ED3  Secondary (high) school diploma or equivalency...  Toronto
3            ED4       Postsecondary certificate, diploma or degree  Toronto
4            ED5    Apprenticeship or trades certificate or diploma  Toronto
5            ED6  Trades certificate or diploma other than Certi...  Toronto
6            ED7  Certificate of Apprenticeship or Certificate o...  Toronto
7            ED8  College, CEGEP or other non-university certifi...  Toronto
8            ED9  University certificate or diploma below bachel...  Toronto
9           ED10  University certificate, diploma or degree at b...  Toronto
10          ED11                                  Bachelor's degree  Toronto
11          ED12  University certificate or diploma above bachel...  Toronto
12          ED13  Degree in medicine, dentistry, veterinary medi...  Toronto
13          ED14                                    Master's degree  Toronto
14          ED15                                   Earned doctorate  Toronto
15          ED16  Total - Highest certificate, diploma or degree...   Ward 1
16          ED17                  No certificate, diploma or degree   Ward 1
17          ED18  Secondary (high) school diploma or equivalency...   Ward 1
18          ED19       Postsecondary certificate, diploma or degree   Ward 1
19          ED20    Apprenticeship or trades certificate or diploma   Ward 1

    Population  Year
0      2294790  2016
1       377340  2016
2       561090  2016
3      1356355  2016
4        94005  2016
5        53060  2016
6        40945  2016
7       362080  2016
8        65015  2016
9       835255  2016
10      534610  2016
11       54570  2016
12       23545  2016
13      192120  2016
14       30415  2016
15       95295  2016
16       23735  2016
17       29205  2016
18       42350  2016
19        5205  2016

In [51]:
# AGE DIMENSION
age_data2016 = pd.read_csv(
    "WardProfile2016.csv",
    skiprows=range(0),
    nrows=21,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)
age_data2021 = pd.read_csv(
    "WardProfile2021.csv",
    skiprows=range(0),
    nrows=21,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)

age_data2016.rename(columns={"Population": "Age_Range"}, inplace=True)
age_data2021.rename(columns={"Population": "Age_Range"}, inplace=True)

# Filter out rows where 'Age' column is not empty
age_data2016 = age_data2016[age_data2016["Age_Range"].notna()]
age_data2021 = age_data2021[age_data2021["Age_Range"].notna()]

# remove spaces
age_data2016["Age_Range"] = age_data2016["Age_Range"].str.strip()
age_data2021["Age_Range"] = age_data2021["Age_Range"].str.strip()

# Melt the DataFrame to get 'Ward_ID', 'Age', and 'Population' columns
age_data2016 = pd.melt(
    age_data2016, id_vars=["Age_Range"], var_name="Ward_ID", value_name="Population"
)
age_data2016["Year"] = 2016
age_data2021 = pd.melt(
    age_data2021, id_vars=["Age_Range"], var_name="Ward_ID", value_name="Population"
)
age_data2021["Year"] = 2021

# merge the datasets
AgeDimension = pd.concat([age_data2016, age_data2021], ignore_index=True)

# change data types
AgeDimension["Population"] = AgeDimension["Population"].astype(int)
AgeDimension["Ward_ID"] = AgeDimension["Ward_ID"].astype(str)
AgeDimension["Age_Range"] = AgeDimension["Age_Range"].astype(str)

# output final age dimension
# AgeDimension.to_csv('AgeDimension.csv', encoding='ISO-8859-1', index=False)

In [52]:
# Generate surrogate key named 'Age_Key'
AgeDimension['Age_Key'] = range(1, len(AgeDimension) + 1)

cols = ['Age_Key'] + [col for col in AgeDimension.columns if col != 'Age_Key']

# Reorder the DataFrame 
AgeDimension = AgeDimension[cols]

# add "AG" prefix to every surrogate key in the 'AgeDimension' column
AgeDimension['Age_Key'] = 'AG' + AgeDimension['Age_Key'].astype(str)

In [53]:
print(AgeDimension[:20])

   Age_Key          Age_Range  Ward_ID  Population  Year
0      AG1        Total - Age  Toronto     2731570  2016
1      AG2       0 to 4 years  Toronto      136000  2016
2      AG3       5 to 9 years  Toronto      135025  2016
3      AG4     10 to 14 years  Toronto      127110  2016
4      AG5     15 to 19 years  Toronto      145525  2016
5      AG6     20 to 24 years  Toronto      194750  2016
6      AG7     25 to 29 years  Toronto      232945  2016
7      AG8     30 to 34 years  Toronto      224575  2016
8      AG9     35 to 39 years  Toronto      196310  2016
9     AG10     40 to 44 years  Toronto      182395  2016
10    AG11     45 to 49 years  Toronto      190925  2016
11    AG12     50 to 54 years  Toronto      202405  2016
12    AG13     55 to 59 years  Toronto      182805  2016
13    AG14     60 to 64 years  Toronto      153865  2016
14    AG15     65 to 69 years  Toronto      130540  2016
15    AG16     70 to 74 years  Toronto       93605  2016
16    AG17     75 to 79 years  Toronto       76160  2016
17    AG18     80 to 84 years  Toronto       60635  2016
18    AG19     85 to 89 years  Toronto       40800  2016
19    AG20  90 years and over  Toronto       25200  2016

In [54]:
# EMPLOYMENT DIMENSION
employment_data2016 = pd.read_csv(
    "WardProfile2016.csv",
    skiprows=range(1163),
    nrows=12,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)
employment_data2021 = pd.read_csv(
    "WardProfile2021.csv",
    skiprows=range(1297),
    nrows=12,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)

# Filter out rows where 'Employment' column is not empty 
employment_data2016 = employment_data2016[employment_data2016["Employment"].notna()]
employment_data2021 = employment_data2021[employment_data2021["Employment"].notna()]

# Removing the numbers and spaces before each employment type
employment_data2016["Employment"] = employment_data2016["Employment"].str.strip()
employment_data2021["Employment"] = employment_data2021["Employment"].str.strip()
employment_data2016["Employment"] = employment_data2016["Employment"].str.replace(
    r"^\s*\d+\s+", "", regex=True
)
employment_data2021["Employment"] = employment_data2021["Employment"].str.replace(
    r"^\s*\d+\s+", "", regex=True
)

# Melt the DataFrame to get 'Ward_ID', 'Employment', and 'Population' columns
employment_data2016 = pd.melt(
    employment_data2016,
    id_vars=["Employment"],
    var_name="Ward_ID",
    value_name="Population",
)
employment_data2016["Year"] = 2016
employment_data2021 = pd.melt(
    employment_data2021,
    id_vars=["Employment"],
    var_name="Ward_ID",
    value_name="Population",
)
employment_data2021["Year"] = 2021

# merge the datasets
EmploymentDimension = pd.concat(
    [employment_data2016, employment_data2021], ignore_index=True
)

# change data types
EmploymentDimension["Population"] = EmploymentDimension["Population"].astype(int)
EmploymentDimension["Ward_ID"] = EmploymentDimension["Ward_ID"].astype(str)
EmploymentDimension["Employment"] = EmploymentDimension["Employment"].astype(str)


# output final employment dimension
# EmploymentDimension.to_csv('EmploymentDimension.csv', encoding='ISO-8859-1', index=False)

In [55]:
# Generate surrogate key named 'Employment_Key'
EmploymentDimension['Employment_Key'] = range(1, len(EmploymentDimension) + 1)

cols = ['Employment_Key'] + [col for col in EmploymentDimension.columns if col != 'Employment_Key']

# Reorder the DataFrame 
EmploymentDimension = EmploymentDimension[cols]

# add "EM" prefix to every surrogate key in the 'EmploymentDimension' column
EmploymentDimension['Employment_Key'] = 'EM' + EmploymentDimension['Employment_Key'].astype(str)

In [56]:
print(EmploymentDimension[:20])

   Employment_Key                                         Employment  Ward_ID  \
0             EM1                                    All occupations  Toronto
1             EM2                             Management occupations  Toronto
2             EM3   Business, finance and administration occupations  Toronto
3             EM4  Natural and applied sciences and related occup...  Toronto
4             EM5                                 Health occupations  Toronto
5             EM6  Occupations in education, law and social, comm...  Toronto
6             EM7  Occupations in art, culture, recreation and sport  Toronto
7             EM8                      Sales and service occupations  Toronto
8             EM9  Trades, transport and equipment operators and ...  Toronto
9            EM10  Natural resources, agriculture and related pro...  Toronto
10           EM11         Occupations in manufacturing and utilities  Toronto
11           EM12                                    All occupations   Ward 1
12           EM13                             Management occupations   Ward 1
13           EM14   Business, finance and administration occupations   Ward 1
14           EM15  Natural and applied sciences and related occup...   Ward 1
15           EM16                                 Health occupations   Ward 1
16           EM17  Occupations in education, law and social, comm...   Ward 1
17           EM18  Occupations in art, culture, recreation and sport   Ward 1
18           EM19                      Sales and service occupations   Ward 1
19           EM20  Trades, transport and equipment operators and ...   Ward 1

    Population  Year
0      1437540  2016
1       163965  2016
2       258875  2016
3       117635  2016
4        84360  2016
5       186800  2016
6        80195  2016
7       345140  2016
8       131115  2016
9         7560  2016
10       61900  2016
11       54885  2016
12        3135  2016
13        8330  2016
14        3085  2016
15        3200  2016
16        4550  2016
17         965  2016
18       15510  2016
19        9700  2016

In [57]:
# INDUSTRY DIMENSION
industry_data2016 = pd.read_csv(
    "WardProfile2016.csv",
    skiprows=range(1176),
    nrows=22,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)
industry_data2021 = pd.read_csv(
    "WardProfile2021.csv",
    skiprows=range(1310),
    nrows=22,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)

# Filter out rows where 'Industry' column is not empty
industry_data2016 = industry_data2016[industry_data2016["Industry"].notna()]
industry_data2021 = industry_data2021[industry_data2021["Industry"].notna()]

# Removing the numbers and spaces before each industry type
industry_data2016["Industry"] = industry_data2016["Industry"].str.strip()
industry_data2021["Industry"] = industry_data2021["Industry"].str.strip()
industry_data2016["Industry"] = industry_data2016["Industry"].str.replace(
    r"^\s*\d+(-\d+)?\s+", "", regex=True
)
industry_data2021["Industry"] = industry_data2021["Industry"].str.replace(
    r"^\s*\d+(-\d+)?\s+", "", regex=True
)

# Melt the DataFrame to get 'Ward_ID', 'Industry', and 'Population' columns
industry_data2016 = pd.melt(
    industry_data2016, id_vars=["Industry"], var_name="Ward_ID", value_name="Population"
)
industry_data2016["Year"] = 2016
industry_data2021 = pd.melt(
    industry_data2021, id_vars=["Industry"], var_name="Ward_ID", value_name="Population"
)
industry_data2021["Year"] = 2021

# merge the datasets
IndustryDimension = pd.concat([industry_data2016, industry_data2021], ignore_index=True)

# change data types
IndustryDimension["Population"] = IndustryDimension["Population"].astype(int)
IndustryDimension["Ward_ID"] = IndustryDimension["Ward_ID"].astype(str)
IndustryDimension["Industry"] = IndustryDimension["Industry"].astype(str)

# output final industry dimension
# IndustryDimension.to_csv('IndustryDimension.csv', encoding='ISO-8859-1', index=False)

In [58]:
# Generate surrogate key named 'Industry_Key'
IndustryDimension['Industry_Key'] = range(1, len(IndustryDimension) + 1)

cols = ['Industry_Key'] + [col for col in IndustryDimension.columns if col != 'Industry_Key']

# Reorder the DataFrame
IndustryDimension = IndustryDimension[cols]

# add "IND" prefix to every surrogate key in the 'IndustryDimension' column
IndustryDimension['Industry_Key'] = 'EM' + IndustryDimension['Industry_Key'].astype(str)

In [59]:
print(IndustryDimension[:20])

   Industry_Key                                           Industry  Ward_ID  \
0           EM1                            All industry categories  Toronto
1           EM2         Agriculture, forestry, fishing and hunting  Toronto
2           EM3      Mining, quarrying, and oil and gas extraction  Toronto
3           EM4                                          Utilities  Toronto
4           EM5                                       Construction  Toronto
5           EM6                                      Manufacturing  Toronto
6           EM7                                    Wholesale trade  Toronto
7           EM8                                       Retail trade  Toronto
8           EM9                     Transportation and warehousing  Toronto
9          EM10                Information and cultural industries  Toronto
10         EM11                              Finance and insurance  Toronto
11         EM12                 Real estate and rental and leasing  Toronto
12         EM13    Professional, scientific and technical services  Toronto
13         EM14            Management of companies and enterprises  Toronto
14         EM15  Administrative and support, waste management a...  Toronto
15         EM16                               Educational services  Toronto
16         EM17                  Health care and social assistance  Toronto
17         EM18                 Arts, entertainment and recreation  Toronto
18         EM19                    Accommodation and food services  Toronto
19         EM20      Other services (except public administration)  Toronto

    Population  Year
0      1437540  2016
1         2090  2016
2         2045  2016
3         5915  2016
4        76475  2016
5       105285  2016
6        50120  2016
7       141540  2016
8        57910  2016
9        61350  2016
10      120005  2016
11       39935  2016
12      175685  2016
13        4085  2016
14       78885  2016
15      110280  2016
16      143250  2016
17       34995  2016
18      106910  2016
19       67390  2016

In [60]:
# INCOME DIMENSION
income_data2016 = pd.read_csv(
    "WardProfile2016.csv",
    skiprows=range(1252),
    nrows=17,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)
income_data2021 = pd.read_csv(
    "WardProfile2021.csv",
    skiprows=range(1389),
    nrows=17,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)

# Filter out rows where 'Income' column is not NA
income_data2016 = income_data2016[income_data2016["Income"].notna()]
income_data2021 = income_data2021[income_data2021["Income"].notna()]

# change value of one of income ranges
income_data2016.loc[
    income_data2016["Income"].str.contains("Total - Total income groups"), "Income"
] = "Total Income Groups"
income_data2021.loc[
    income_data2021["Income"].str.contains("Total - Total Income groups"), "Income"
] = "Total Income Groups"

# Removing the spaces before each income
income_data2016["Income"] = income_data2016["Income"].str.strip()
income_data2021["Income"] = income_data2021["Income"].str.strip()

# Melt the DataFrame to get 'Ward_ID', 'Income', and 'Population' columns
income_data2016["Year"] = 2016
income_data2021["Year"] = 2021
income_data2016 = pd.melt(
    income_data2016,
    id_vars=["Income", "Year"],
    var_name="Ward_ID",
    value_name="Population",
)
income_data2021 = pd.melt(
    income_data2021,
    id_vars=["Income", "Year"],
    var_name="Ward_ID",
    value_name="Population",
)
columns_order = [col for col in income_data2016.columns if col != "Year"] + ["Year"]
income_data2016 = income_data2016[columns_order]
income_data2021 = income_data2021[columns_order]

# merge the datasets
IncomeDimension = pd.concat([income_data2016, income_data2021], ignore_index=True)

# change data types
IncomeDimension["Population"] = IncomeDimension["Population"].astype(int)
IncomeDimension["Ward_ID"] = IncomeDimension["Ward_ID"].astype(str)
IncomeDimension["Income"] = IncomeDimension["Income"].astype(str)

# output final income dimension
# IncomeDimension.to_csv('IncomeDimension.csv', encoding='ISO-8859-1', index=False)

In [61]:
# Generate surrogate key named 'Income_Key'
IncomeDimension['Income_Key'] = range(1, len(IncomeDimension) + 1)

cols = ['Income_Key'] + [col for col in IncomeDimension.columns if col != 'Income_Key']

# Reorder the DataFrame
IncomeDimension = IncomeDimension[cols]

# add "INC" prefix to every surrogate key in the 'IncomeDimension' column
IncomeDimension['Income_Key'] = 'INC' + IncomeDimension['Income_Key'].astype(str)

In [62]:
print(IncomeDimension[:20])

   Income_Key                          Income  Ward_ID  Population  Year
0        INC1             Total Income Groups  Toronto     2294785  2016
1        INC2            Without total income  Toronto      107560  2016
2        INC3               With total income  Toronto     2187225  2016
3        INC4  Under $10,000 (including loss)  Toronto      388570  2016
4        INC5              $10,000 to $19,999  Toronto      411160  2016
5        INC6              $20,000 to $29,999  Toronto      290580  2016
6        INC7              $30,000 to $39,999  Toronto      221505  2016
7        INC8              $40,000 to $49,999  Toronto      188475  2016
8        INC9              $50,000 to $59,999  Toronto      144180  2016
9       INC10              $60,000 to $69,999  Toronto      114915  2016
10      INC11              $70,000 to $79,999  Toronto       89780  2016
11      INC12              $80,000 to $89,999  Toronto       69855  2016
12      INC13              $90,000 to $99,999  Toronto       58180  2016
13      INC14               $100,000 and over  Toronto      210030  2016
14      INC15            $100,000 to $149,999  Toronto      119810  2016
15      INC16               $150,000 and over  Toronto       90220  2016
16      INC17             Total Income Groups   Ward 1       95290  2016
17      INC18            Without total income   Ward 1        5845  2016
18      INC19               With total income   Ward 1       89445  2016
19      INC20  Under $10,000 (including loss)   Ward 1       18485  2016

In [63]:
# ETHNOCULTURAL DIMENSION
ethnicity_data2016 = pd.read_csv(
    "WardProfile2016.csv",
    skiprows=range(851),
    nrows=280,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)
ethnicity_data2021 = pd.read_csv(
    "WardProfile2021.csv",
    skiprows=range(1013),
    nrows=252,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)

# Filter out rows where 'Ethnocultural' column is not NA 
ethnicity_data2016 = ethnicity_data2016[ethnicity_data2016["Ethnoculture"].notna()]
ethnicity_data2021 = ethnicity_data2021[ethnicity_data2021["Ethnoculture"].notna()]

# change value of one of ethnic ranges
ethnicity_data2016.loc[
    ethnicity_data2016["Ethnoculture"].str.contains("Total - Ethnic origin"),
    "Ethnoculture",
] = "Total Ethnic Origin"
ethnicity_data2021.loc[
    ethnicity_data2021["Ethnoculture"].str.contains("Total - Ethnic origin"),
    "Ethnoculture",
] = "Total Ethnic Origin"

# Removing the spaces before each ethnicity
ethnicity_data2016["Ethnoculture"] = ethnicity_data2016["Ethnoculture"].str.strip()
ethnicity_data2021["Ethnoculture"] = ethnicity_data2021["Ethnoculture"].str.strip()

# Melt the DataFrame to get 'Ward_ID', 'Ethnocultural', and 'Population' columns
ethnicity_data2016["Year"] = 2016
ethnicity_data2021["Year"] = 2021
ethnicity_data2016 = pd.melt(
    ethnicity_data2016,
    id_vars=["Ethnoculture", "Year"],
    var_name="Ward_ID",
    value_name="Population",
)
ethnicity_data2021 = pd.melt(
    ethnicity_data2021,
    id_vars=["Ethnoculture", "Year"],
    var_name="Ward_ID",
    value_name="Population",
)
columns_order = [col for col in ethnicity_data2016.columns if col != "Year"] + ["Year"]
ethnicity_data2016 = ethnicity_data2016[columns_order]
ethnicity_data2021 = ethnicity_data2021[columns_order]

# merge the datasets
EthnoculturalDimension = pd.concat(
    [ethnicity_data2016, ethnicity_data2021], ignore_index=True
)

# change data types
EthnoculturalDimension["Population"] = EthnoculturalDimension["Population"].astype(int)
EthnoculturalDimension["Ward_ID"] = EthnoculturalDimension["Ward_ID"].astype(str)
EthnoculturalDimension["Ethnoculture"] = EthnoculturalDimension["Ethnoculture"].astype(str)

# output final ethnicity dimension
# EthnoculturalDimension.to_csv('EthnoculturalDimension.csv', encoding='ISO-8859-1', index=False)

In [64]:
# Generate surrogate keys
EthnoculturalDimension['Ethnocultural_Key'] = range(1, len(EthnoculturalDimension) + 1)

cols = ['Ethnocultural_Key'] + [col for col in EthnoculturalDimension.columns if col != 'Ethnocultural_Key']

# Reorder the DataFrame
EthnoculturalDimension = EthnoculturalDimension[cols]

# add "ETH" prefix to every surrogate key in the 'EthnoculturalDimension' column
EthnoculturalDimension['Ethnocultural_Key'] = 'ETH' + EthnoculturalDimension['Ethnocultural_Key'].astype(str)

In [65]:
print(EthnoculturalDimension[:20])

   Ethnocultural_Key                           Ethnoculture  Ward_ID  \
0               ETH1                    Total Ethnic Origin  Toronto
1               ETH2      North American Aboriginal origins  Toronto
2               ETH3  First Nations (North American Indian)  Toronto
3               ETH4                                  Inuit  Toronto
4               ETH5                                  Métis  Toronto
5               ETH6           Other North American origins  Toronto
6               ETH7                                Acadian  Toronto
7               ETH8                               American  Toronto
8               ETH9                               Canadian  Toronto
9              ETH10                        New Brunswicker  Toronto
10             ETH11                         Newfoundlander  Toronto
11             ETH12                           Nova Scotian  Toronto
12             ETH13                               Ontarian  Toronto
13             ETH14                              Québécois  Toronto
14             ETH15   Other North American origins, n.i.e.  Toronto
15             ETH16                       European origins  Toronto
16             ETH17                  British Isles origins  Toronto
17             ETH18                       Channel Islander  Toronto
18             ETH19                                Cornish  Toronto
19             ETH20                                English  Toronto

    Population  Year
0      2691665  2016
1        35630  2016
2        27610  2016
3          520  2016
4         8465  2016
5       345705  2016
6         2315  2016
7        27470  2016
8       323175  2016
9           45  2016
10        1430  2016
11         330  2016
12         380  2016
13         880  2016
14         150  2016
15     1288855  2016
16      597295  2016
17         180  2016
18         150  2016
19      331890  2016

In [66]:
# HOUSEHOLD DIMENSION
household_data2016 = pd.read_csv(
    "WardProfile2016.csv",
    skiprows=range(98),
    nrows=9,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)
household_data2021 = pd.read_csv(
    "WardProfile2021.csv",
    skiprows=range(108),
    nrows=9,
    header=0,
    encoding="ISO-8859-1",
    low_memory=False,
)

# Filter out rows where 'Household' column is not NA 
household_data2016 = household_data2016[household_data2016["Household"].notna()]
household_data2021 = household_data2021[household_data2021["Household"].notna()]

# change value of one of income ranges
household_data2016.loc[
    household_data2016["Household"].str.contains(
        "Total - Private households by household"
    ),
    "Household",
] = "Total Household"
household_data2021.loc[
    household_data2021["Household"].str.contains(
        "Total - Private households by household"
    ),
    "Household",
] = "Total Household"


# Removing the spaces before each household type
household_data2016["Household"] = household_data2016["Household"].str.strip()
household_data2021["Household"] = household_data2021["Household"].str.strip()

# Melt the DataFrame to get 'Ward_ID', 'Household', and 'Population' columns
household_data2016["Year"] = 2016
household_data2021["Year"] = 2021
household_data2016 = pd.melt(
    household_data2016,
    id_vars=["Household", "Year"],
    var_name="Ward_ID",
    value_name="Population",
)
household_data2021 = pd.melt(
    household_data2021,
    id_vars=["Household", "Year"],
    var_name="Ward_ID",
    value_name="Population",
)
columns_order = [col for col in household_data2016.columns if col != "Year"] + ["Year"]
household_data2016 = household_data2016[columns_order]
household_data2021 = household_data2021[columns_order]

# Merge the datasets
HouseholdDimension = pd.concat(
    [household_data2016, household_data2021], ignore_index=True
)


# change data types
HouseholdDimension["Ward_ID"] = HouseholdDimension["Ward_ID"].astype(str)
HouseholdDimension["Household"] = HouseholdDimension["Household"].astype(str)

# rename column
HouseholdDimension.rename(columns={"Household": "Household_Description"}, inplace=True)

# output final household dimension
# HouseholdDimension.to_csv('HouseholdDimension.csv', encoding='ISO-8859-1', index=False)

In [67]:
# Generate surrogate keys
HouseholdDimension['Household_Key'] = range(1, len(HouseholdDimension) + 1)
cols = ['Household_Key'] + [col for col in HouseholdDimension.columns if col != 'Household_Key']

HouseholdDimension = HouseholdDimension[cols]

# add "H" prefix to every surrogate key in the 'Household_Key' column
HouseholdDimension['Household_Key'] = 'H' + HouseholdDimension['Household_Key'].astype(str)

In [68]:
print(HouseholdDimension[:20])

   Household_Key                    Household_Description  Ward_ID  \
0             H1                          Total Household  Toronto
1             H2                                 1 person  Toronto
2             H3                                2 persons  Toronto
3             H4                                3 persons  Toronto
4             H5                                4 persons  Toronto
5             H6                        5 or more persons  Toronto
6             H7  Number of persons in private households  Toronto
7             H8                   Average household size  Toronto
8             H9                          Total Household   Ward 1
9            H10                                 1 person   Ward 1
10           H11                                2 persons   Ward 1
11           H12                                3 persons   Ward 1
12           H13                                4 persons   Ward 1
13           H14                        5 or more persons   Ward 1
14           H15  Number of persons in private households   Ward 1
15           H16                   Average household size   Ward 1
16           H17                          Total Household   Ward 2
17           H18                                 1 person   Ward 2
18           H19                                2 persons   Ward 2
19           H20                                3 persons   Ward 2

    Population  Year
0   1112930.00  2016
1    359985.00  2016
2    333450.00  2016
3    175825.00  2016
4    146555.00  2016
5     97115.00  2016
6   2691665.00  2016
7         2.42  2016
8     37895.00  2016
9      7235.00  2016
10     9330.00  2016
11     7390.00  2016
12     6965.00  2016
13     6975.00  2016
14   116960.00  2016
15        3.09  2016
16    45045.00  2016
17    11065.00  2016
18    14300.00  2016
19     8095.00  2016

In [69]:
# SHELTER DIMENSION
# 2021
# Load the CSV file
df = pd.read_csv("WardProfile2021.csv", encoding="ISO-8859-1", low_memory=False)

# Define the indices
tenant_costs_index = 1373
owner_costs_index = 1377

tenant_percent_spending = 1374
owner_percent_spending = 1378

tenant_households = 1372
owner_households = 1376

# create the Ward_IDs list based on the column headers
ward_ids = df.columns[1:]

tenant_data = []
owner_data = []


for i, ward_id in enumerate(ward_ids):
    tenant_data.append(
        {
            "Household_Type": "Tenant",
            "Ward_ID": ward_id,
            "Total_Households": df.iloc[tenant_households, i + 1],
            "Average_Monthly_Shelter_Costs": df.iloc[tenant_costs_index, i + 1],
            "Percent_Spending_30_Percent_Or_More_On_Shelter": df.iloc[
                tenant_percent_spending, i + 1
            ],
        }
    )
    owner_data.append(
        {
            "Household_Type": "Owner",
            "Ward_ID": ward_id,
            "Total_Households": df.iloc[owner_households, i + 1],
            "Average_Monthly_Shelter_Costs": df.iloc[owner_costs_index, i + 1],
            "Percent_Spending_30_Percent_Or_More_On_Shelter": df.iloc[
                owner_percent_spending, i + 1
            ],
        }
    )

In [70]:
# Combine the tenant and owner data
combined_data = tenant_data + owner_data

In [71]:
print(combined_data[:20])

[{'Household_Type': 'Tenant', 'Ward_ID': 'Toronto', 'Total_Households': '557970', 'Average_Monthly_Shelter_Costs': '1562', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '40%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 1', 'Total_Households': '17340', 'Average_Monthly_Shelter_Costs': '$1,328', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '34%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 2', 'Total_Households': '14780', 'Average_Monthly_Shelter_Costs': '$1,574', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '39%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 3', 'Total_Households': '28260', 'Average_Monthly_Shelter_Costs': '$1,592', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '41%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 4', 'Total_Households': '27835', 'Average_Monthly_Shelter_Costs': '$1,492', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '40%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 5', 'Total_Households': '23370', 'Average_Monthly_Shelter_Costs': '$1,196', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '35%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 6', 'Total_Households': '20735', 'Average_Monthly_Shelter_Costs': '$1,448', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '36%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 7', 'Total_Households': '19605', 'Average_Monthly_Shelter_Costs': '$1,261', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '33%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 8', 'Total_Households': '21395', 'Average_Monthly_Shelter_Costs': '$1,588', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '38%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 9', 'Total_Households': '22025', 'Average_Monthly_Shelter_Costs': '$1,552', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '41%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 10', 'Total_Households': '46885', 'Average_Monthly_Shelter_Costs': '$1,988', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '44%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 11', 'Total_Households': '30420', 'Average_Monthly_Shelter_Costs': '$1,976', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '49%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 12', 'Total_Households': '35680', 'Average_Monthly_Shelter_Costs': '$1,768', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '45%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 13', 'Total_Households': '48300', 'Average_Monthly_Shelter_Costs': '$1,520', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '43%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 14', 'Total_Households': '20855', 'Average_Monthly_Shelter_Costs': '$1,424', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '38%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 15', 'Total_Households': '19215', 'Average_Monthly_Shelter_Costs': '$1,716', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '41%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 16', 'Total_Households': '21340', 'Average_Monthly_Shelter_Costs': '$1,492', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '39%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 17', 'Total_Households': '19795', 'Average_Monthly_Shelter_Costs': '$1,754', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '44%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 18', 'Total_Households': '21210', 'Average_Monthly_Shelter_Costs': '$1,880', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '49%'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 19', 'Total_Households': '20190', 'Average_Monthly_Shelter_Costs': '$1,370', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '39%'}]

In [72]:
# 2016
# Load the CSV file
df1 = pd.read_csv("WardProfile2016.csv", encoding="ISO-8859-1", low_memory=False)

# Define the indices
tenant_costs_index = 1239
owner_costs_index = 1243

tenant_percent_spending = 1240
owner_percent_spending = 1244

tenant_households = 1238
owner_households = 1242

# Create the Ward_IDs list based on the column headers
ward_ids = df1.columns[1:]

tenant_data = []
owner_data = []

for i, ward_id in enumerate(ward_ids):
    tenant_data.append(
        {
            "Household_Type": "Tenant",
            "Ward_ID": ward_id,
            "Total_Households": df1.iloc[tenant_households, i + 1],
            "Average_Monthly_Shelter_Costs": df1.iloc[tenant_costs_index, i + 1],
            "Percent_Spending_30_Percent_Or_More_On_Shelter": df1.iloc[
                tenant_percent_spending, i + 1
            ],
        }
    )
    owner_data.append(
        {
            "Household_Type": "Owner",
            "Ward_ID": ward_id,
            "Total_Households": df1.iloc[owner_households, i + 1],
            "Average_Monthly_Shelter_Costs": df1.iloc[owner_costs_index, i + 1],
            "Percent_Spending_30_Percent_Or_More_On_Shelter": df1.iloc[
                owner_percent_spending, i + 1
            ],
        }
    )

In [73]:
# Combine the tenant and owner data
combined_data2 = tenant_data + owner_data

In [74]:
print(combined_data2[:20])

[{'Household_Type': 'Tenant', 'Ward_ID': 'Toronto', 'Total_Households': '525825', 'Average_Monthly_Shelter_Costs': '1242', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '46.8'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 1', 'Total_Households': '16945', 'Average_Monthly_Shelter_Costs': '1064', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '42.8'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 2', 'Total_Households': '14875', 'Average_Monthly_Shelter_Costs': '1303', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '44.2'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 3', 'Total_Households': '25875', 'Average_Monthly_Shelter_Costs': '1229', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '46.4'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 4', 'Total_Households': '28945', 'Average_Monthly_Shelter_Costs': '1174', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '45.6'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 5', 'Total_Households': '22995', 'Average_Monthly_Shelter_Costs': '957', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '45.6'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 6', 'Total_Households': '20240', 'Average_Monthly_Shelter_Costs': '1177', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '46.5'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 7', 'Total_Households': '18620', 'Average_Monthly_Shelter_Costs': '1011', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '44.4'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 8', 'Total_Households': '19925', 'Average_Monthly_Shelter_Costs': '1245', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '43.1'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 9', 'Total_Households': '22210', 'Average_Monthly_Shelter_Costs': '1226', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '47.4'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 10', 'Total_Households': '38595', 'Average_Monthly_Shelter_Costs': '1673', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '44.6'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 11', 'Total_Households': '29575', 'Average_Monthly_Shelter_Costs': '1560', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '52.3'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 12', 'Total_Households': '32430', 'Average_Monthly_Shelter_Costs': '1384', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '47.1'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 13', 'Total_Households': '41500', 'Average_Monthly_Shelter_Costs': '1214', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '46.5'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 14', 'Total_Households': '20640', 'Average_Monthly_Shelter_Costs': '1123', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '46'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 15', 'Total_Households': '18625', 'Average_Monthly_Shelter_Costs': '1353', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '48'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 16', 'Total_Households': '20890', 'Average_Monthly_Shelter_Costs': '1205', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '47.4'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 17', 'Total_Households': '17625', 'Average_Monthly_Shelter_Costs': '1390', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '53.2'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 18', 'Total_Households': '19625', 'Average_Monthly_Shelter_Costs': '1537', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '59.4'}, {'Household_Type': 'Tenant', 'Ward_ID': 'Ward 19', 'Total_Households': '20405', 'Average_Monthly_Shelter_Costs': '1082', 'Percent_Spending_30_Percent_Or_More_On_Shelter': '46.8'}]

In [75]:
# create the DataFrame
ShelterDimension2016 = pd.DataFrame(combined_data2)
ShelterDimension2021 = pd.DataFrame(combined_data)

ShelterDimension2016["Year"] = 2016
ShelterDimension2021["Year"] = 2021

# merge the datasets
ShelterDimension = pd.concat(
    [ShelterDimension2016, ShelterDimension2021], ignore_index=True
)

# clean data and change data types
ShelterDimension["Average_Monthly_Shelter_Costs"] = (
    ShelterDimension["Average_Monthly_Shelter_Costs"]
    .str.replace("$", "")
    .str.replace(",", "")
    .astype(int)
)
ShelterDimension["Percent_Spending_30_Percent_Or_More_On_Shelter"] = (
    ShelterDimension["Percent_Spending_30_Percent_Or_More_On_Shelter"]
    .str.replace("%", "")
    .astype(float)
)
ShelterDimension["Total_Households"] = ShelterDimension["Total_Households"].astype(int)
ShelterDimension["Household_Type"] = ShelterDimension["Household_Type"].astype(str)
ShelterDimension["Ward_ID"] = ShelterDimension["Ward_ID"].astype(str)

In [76]:
# Generate surrogate keys
ShelterDimension['Shelter_Key'] = range(1, len(ShelterDimension) + 1)


cols = ['Shelter_Key'] + [col for col in ShelterDimension.columns if col != 'Shelter_Key']
ShelterDimension = ShelterDimension[cols]

# confirm the output
# ShelterDimension.to_csv('ShelterDimension.csv', index=False)

# add "SH" prefix to every surrogate key in the 'Shelter_Key' column
ShelterDimension['Shelter_Key'] = 'SH' + ShelterDimension['Shelter_Key'].astype(str)

In [77]:
print(ShelterDimension[:20])

   Shelter_Key Household_Type  Ward_ID  Total_Households  \
0          SH1         Tenant  Toronto            525825
1          SH2         Tenant   Ward 1             16945
2          SH3         Tenant   Ward 2             14875
3          SH4         Tenant   Ward 3             25875
4          SH5         Tenant   Ward 4             28945
5          SH6         Tenant   Ward 5             22995
6          SH7         Tenant   Ward 6             20240
7          SH8         Tenant   Ward 7             18620
8          SH9         Tenant   Ward 8             19925
9         SH10         Tenant   Ward 9             22210
10        SH11         Tenant  Ward 10             38595
11        SH12         Tenant  Ward 11             29575
12        SH13         Tenant  Ward 12             32430
13        SH14         Tenant  Ward 13             41500
14        SH15         Tenant  Ward 14             20640
15        SH16         Tenant  Ward 15             18625
16        SH17         Tenant  Ward 16             20890
17        SH18         Tenant  Ward 17             17625
18        SH19         Tenant  Ward 18             19625
19        SH20         Tenant  Ward 19             20405

    Average_Monthly_Shelter_Costs  \
0                            1242
1                            1064
2                            1303
3                            1229
4                            1174
5                             957
6                            1177
7                            1011
8                            1245
9                            1226
10                           1673
11                           1560
12                           1384
13                           1214
14                           1123
15                           1353
16                           1205
17                           1390
18                           1537
19                           1082

    Percent_Spending_30_Percent_Or_More_On_Shelter  Year
0                                             46.8  2016
1                                             42.8  2016
2                                             44.2  2016
3                                             46.4  2016
4                                             45.6  2016
5                                             45.6  2016
6                                             46.5  2016
7                                             44.4  2016
8                                             43.1  2016
9                                             47.4  2016
10                                            44.6  2016
11                                            52.3  2016
12                                            47.1  2016
13                                            46.5  2016
14                                            46.0  2016
15                                            48.0  2016
16                                            47.4  2016
17                                            53.2  2016
18                                            59.4  2016
19                                            46.8  2016

In [78]:

# Define the fact table columns
columns = ['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']

# Income
rows_list = []


for index, row in IncomeDimension.iterrows():
    rows_list.append({
        'Ward_ID': row['Ward_ID'],
        'Year': row['Year'],
        'Dimension_Type': 'Income',
        'Dimension_Key': row['Income_Key'],  
        'Population': row['Population']  
    })

ward_profile_fact_table = pd.DataFrame(rows_list, columns=columns)


# Education 
new_row = []

temp_df = EducationDimension.copy()

temp_df['Dimension_Type'] = 'Education' 

temp_df.rename(columns={
    'Education_Key': 'Dimension_Key',  
}, inplace=True)


temp_df = temp_df[['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']]

ward_profile_fact_table = pd.concat([ward_profile_fact_table, temp_df], ignore_index=True)

# Ethnocultural

new_row = []

temp_df = EthnoculturalDimension.copy()

temp_df['Dimension_Type'] = 'Ethnocultural' 

temp_df.rename(columns={
    'Ethnocultural_Key': 'Dimension_Key',  
}, inplace=True)


temp_df = temp_df[['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']]

ward_profile_fact_table = pd.concat([ward_profile_fact_table, temp_df], ignore_index=True)


# Age
new_row = []

temp_df = AgeDimension.copy()

temp_df['Dimension_Type'] = 'Age' 

temp_df.rename(columns={
    'Age_Key': 'Dimension_Key',  
}, inplace=True)


temp_df = temp_df[['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']]

ward_profile_fact_table = pd.concat([ward_profile_fact_table, temp_df], ignore_index=True)

# Household
new_row = []

temp_df = HouseholdDimension.copy()

temp_df['Dimension_Type'] = 'Household' 

temp_df.rename(columns={
    'Household_Key': 'Dimension_Key',  
}, inplace=True)


temp_df = temp_df[['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']]

ward_profile_fact_table = pd.concat([ward_profile_fact_table, temp_df], ignore_index=True)

# Shelter
new_row = []

temp_df = ShelterDimension.copy()

temp_df['Dimension_Type'] = 'Shelter' 

temp_df.rename(columns={
    'Shelter_Key': 'Dimension_Key', 
    'Total_Households': 'Population'
}, inplace=True)


temp_df = temp_df[['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']]

ward_profile_fact_table = pd.concat([ward_profile_fact_table, temp_df], ignore_index=True)

# Employment
new_row = []

temp_df = EmploymentDimension.copy()

temp_df['Dimension_Type'] = 'Employment' 

temp_df.rename(columns={
    'Employment_Key': 'Dimension_Key', 
}, inplace=True)


temp_df = temp_df[['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']]

ward_profile_fact_table = pd.concat([ward_profile_fact_table, temp_df], ignore_index=True)

# Industry 

new_row = []

temp_df = IndustryDimension.copy()

temp_df['Dimension_Type'] = 'Industry' 

temp_df.rename(columns={
    'Industry_Key': 'Dimension_Key', 
}, inplace=True)


temp_df = temp_df[['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population']]

ward_profile_fact_table = pd.concat([ward_profile_fact_table, temp_df], ignore_index=True)

In [79]:
# removing unnecessary columns from each dimension:

IncomeDimension = IncomeDimension.drop(columns=['Ward_ID', 'Population','Year'])
EducationDimension = EducationDimension.drop(columns=['Ward_ID', 'Population','Year'])
EthnoculturalDimension = EthnoculturalDimension.drop(columns=['Ward_ID', 'Population','Year'])
IndustryDimension = IndustryDimension.drop(columns=['Ward_ID', 'Population','Year'])
ShelterDimension = ShelterDimension.drop(columns=['Ward_ID', 'Total_Households','Year'])
EmploymentDimension = EmploymentDimension.drop(columns=['Ward_ID', 'Population','Year'])
AgeDimension = AgeDimension.drop(columns=['Ward_ID', 'Population','Year'])
HouseholdDimension = HouseholdDimension.drop(columns=['Ward_ID', 'Population','Year'])

In [80]:
print(ward_profile_fact_table.dtypes)

Ward_ID            object
Year                int64
Dimension_Type     object
Dimension_Key      object
Population        float64
dtype: object

In [81]:
print(EducationDimension.dtypes)

Education_Key      object
Education_Level    object
dtype: object

In [82]:
print(EmploymentDimension.dtypes)

Employment_Key    object
Employment        object
dtype: object

In [83]:
# Convert to integer
temp_df['Year'] = temp_df['Year'].astype(int)

# convert to string
temp_df['Dimension_Type'] = temp_df['Dimension_Type'].astype(str)

# Remove "Ward" and convert to integer
ward_profile_fact_table['Ward_ID'] = ward_profile_fact_table['Ward_ID'].replace('Toronto', 'Ward 0')
ward_profile_fact_table['Ward_ID'] = ward_profile_fact_table['Ward_ID'].str.replace('Ward ', '').astype(int)

print(ward_profile_fact_table.dtypes)

# confirm the output
#ward_profile_fact_table.to_csv('ward_profile_fact_table.csv', index=False)

Ward_ID             int32
Year                int64
Dimension_Type     object
Dimension_Key      object
Population        float64
dtype: object

In [84]:
# calculating ratio of population with no certificates/diploma to total population by year and by ward for fact table

df = pd.merge(ward_profile_fact_table, EducationDimension, left_on='Dimension_Key', right_on='Education_Key', how='inner')

# ilter the relevant rows
no_cert_data = df[df['Education_Level'] == 'No certificate, diploma or degree']
total_pop_data = df[df['Education_Level'].str.contains('Total - Highest certificate, diploma or degree')]

# group by Ward_ID and Year, and sum Population
no_cert_sum = no_cert_data.groupby(['Ward_ID', 'Year'])['Population'].sum().reset_index(name='No_Cert_Population')
total_pop_sum = total_pop_data.groupby(['Ward_ID', 'Year'])['Population'].sum().reset_index(name='Total_Population')

# merge on Ward_ID and Year to calculate ratio
merged_data = pd.merge(no_cert_sum, total_pop_sum, on=['Ward_ID', 'Year'])
merged_data['No_Cert_Ratio'] = merged_data['No_Cert_Population'] / merged_data['Total_Population']

# merge back with fact table
ward_profile_fact_table = pd.merge(ward_profile_fact_table, merged_data, on=['Ward_ID', 'Year'], how='left')

# drop unnecessary columns
ward_profile_fact_table = ward_profile_fact_table.drop(['Total_Population', 'No_Cert_Population'], axis=1)

# Display the result
print(ward_profile_fact_table.head())

   Ward_ID  Year Dimension_Type Dimension_Key  Population  No_Cert_Ratio
0        0  2016         Income          INC1   2294785.0       0.164433
1        0  2016         Income          INC2    107560.0       0.164433
2        0  2016         Income          INC3   2187225.0       0.164433
3        0  2016         Income          INC4    388570.0       0.164433
4        0  2016         Income          INC5    411160.0       0.164433

In [85]:
print(ward_profile_fact_table.columns)

Index(['Ward_ID', 'Year', 'Dimension_Type', 'Dimension_Key', 'Population',
       'No_Cert_Ratio'],
      dtype='object')

In [86]:
# pushing all dimension and fact tables to postgreSQL database

# connection to PostgreSQL database
engine = create_engine("postgresql+psycopg2://postgres:Bucnuoa!@localhost:5432/main")

# load dataframe to database
WardDimension.to_sql("WardDimension", engine, if_exists="append", index=False)
EducationDimension.to_sql("EducationDimension", engine, if_exists="append", index=False)
AgeDimension.to_sql("AgeDimension", engine, if_exists="append", index=False)
ward_profile_fact_table.to_sql("ward_profile_fact_table", engine, if_exists="append", index=False)
EthnoculturalDimension.to_sql("EthnoculturalDimension", engine, if_exists="append", index=False)
IndustryDimension.to_sql("IndustryDimension", engine, if_exists="append", index=False)
ShelterDimension.to_sql("ShelterDimension", engine, if_exists="append", index=False)
EmploymentDimension.to_sql("EmploymentDimension", engine, if_exists="append", index=False)
HouseholdDimension.to_sql("HouseholdDimension", engine, if_exists="append", index=False)
IncomeDimension.to_sql("IncomeDimension", engine, if_exists="append", index=False)

832